html {
  margin: 0;
  padding: 0;
  background-color: #E4E7EC;
}

body {
  background-color: #E4E7EC;
  color: #344054;
  font-family: Lufga;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.96px;
}